<!DOCTYPE html>
<html>
<head>
    <title>Composition | Chem-EQB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Momo+Signature&family=Momo+Trust+Display&family=Titan+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bree+Serif&family=Momo+Signature&family=Momo+Trust+Display&family=Titan+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <a class="nav-title" href="{{ url_for('home') }}">🧪 chem-EQB</a>
    <div class="nav-links">
        <a href="{{ url_for('home') }}">Balance</a>
        <a href="{{ url_for('molar') }}">Molar Mass</a>
        <a href="{{ url_for('composition') }}">Composition</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
</nav>

<div class="container">

    <h1 style="font-family: 'Momo Trust Display', sans-serif;">Percentage Composition</h1>

    <select id="modeSelect" style="width:100%;padding:12px;margin-top:20px;border-radius:8px;">
        <option value="">Select Mode</option>
        <option value="single">Single Compound</option>
        <option value="equation">Equation</option>
    </select>

    <div id="singleMode" style="display:none; margin-top:20px;">

    <input id="singleInput"
           placeholder="Enter Compound (e.g. C6H12O6)"
           style="width:100%;padding:12px;border-radius:8px;margin-bottom:10px;">

    <button onclick="calcSingle()"
            style="width:100%;padding:12px;border-radius:8px;margin-bottom:15px;">
        Calculate
    </button>

    <div id="singleResult"
         style="background:#fff;padding:15px;border-radius:8px;"></div>

</div>

    <div id="eqMode" style="display:none; margin-top:20px;">

    <input id="eqInput"
           placeholder="Enter Equation (e.g. H2 + O2 = H2O)"
           style="width:100%;padding:12px;border-radius:8px;margin-bottom:10px;">

    <input id="targetInput"
           placeholder="Enter Element or Compound (e.g. H or H2O)"
           style="width:100%;padding:12px;border-radius:8px;margin-bottom:10px;">

    <select id="sideSelect"
            style="width:100%;padding:12px;border-radius:8px;margin-bottom:10px;">
        <option value="reactants">Reactants</option>
        <option value="products">Products</option>
    </select>

    <button onclick="calcEquation()"
            style="width:100%;padding:12px;border-radius:8px;margin-bottom:15px;">
        Calculate
    </button>

    <div id="eqResult"
         style="background:#fff;padding:15px;border-radius:8px;"></div>

</div>

</div>

<script src="{{ url_for('static', filename='js/composition.js') }}"></script>

</body>
</html>
