<!DOCTYPE html>
<html>
<head>
    <title>Chem-EQB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Momo+Signature&family=Momo+Trust+Display&family=Titan+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bree+Serif&family=Momo+Signature&family=Momo+Trust+Display&family=Titan+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <a class="nav-title" href="{{ url_for('home') }}">🧪 chem-EQB</a>
    <div class="nav-links">
        <a href="{{ url_for('home') }}">Balance</a>
        <a href="{{ url_for('molar') }}">Molar Mass</a>
        <a href="{{ url_for('composition') }}">Composition</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
</nav>

<div class="container">
    <h1 style="font-family: 'Momo Trust Display', sans-serif;">Balance Chemical Equations</h1>

    <p class="guide" style="font-size: 1.2rem">
        Input Format:<br>
        • Use '+' to separate compounds<br>
        • Use '=' between reactants and products<br>
        • Example: <b>H2 + O2 = H2O</b><br>
    </p>

    <input id="eqInput" placeholder="H2 + O2 = H2O">
    <button onclick="runBalance()">Balance</button>

    <div id="result"></div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
function runBalance() {
    let input = document.getElementById("eqInput").value;
    let result = balanceEquation(input);
    document.getElementById("result").innerText = result;
}
</script>

</body>
</html>
