<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>ChemEase</title>
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
<header>
    <h1>ChemEAse</h1>
    <button id="themeToggle"></button>
</header>
<p class="subtitle">Balance . Analyze . Calculate</p>

<section>
    <h3>Equation Balancer</h3>
    <input id="equation" pllaceholder="e.g. H2 + O2 -> H2O">
    <button onclick="">oooo</button>
    <div id="steps"></div>
    <p id="balanceResult"></p>
    <p id="reactionType"></p>
    <canvas id="atomChart"></canvas>
</section>